html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
  }
  
  *, *::before, 
  *::after { 
    box-sizing: inherit; 
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.primary-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #313841;
}

.secondary-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #898989;
}

.secondary-heading {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #010101;
}

/* ------------------------header--------------------------------- */

.header-logo {
  font-size: 30px;
  line-height: 20px;
  color: #010101;
  font-weight: 700;
}

.menu-link {
  font-size: 22px;
  line-height: 20px;
  color: #010101;
  font-weight: 700;
}

.menu-link:hover,
.menu-link:focus {
  color: #ffffff;
  transition: all 0.3s;
}

.page-header {
  display: flex;
  background-color: #fcdb00;
  padding: 62px 235px 58px 237px;
}

.logo-link {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 74px;
}

.logo-image {
  margin-right: 10px;
}

/* ------------------------header--------------------------------- */

/*----------------------- Product----------------------------------*/

.product-heading {
  font-size: 32px;
  line-height: 18px;
  font-weight: 700;
  color: #010101;
  margin: 0;
  margin-bottom: 29px;
}

.product-subtext {
  color: #555555;
  margin: 0;
  margin-bottom: 40px;
}

.product {
  background-color: #fcdb00;
  padding: 0 273px 107px 240px;
}

.product-item {
  width: 39px;
  height: 40px;
}

.product-item:not(:last-child) {
  margin-right: 30px;
}

.product-item-apple {
  background: url("../img/product/icon-apple.png") no-repeat center;
  background-size: contain;
}

.product-item-android {
  background: url("../img/product/icon-android.png") no-repeat center;
  background-size: contain;
}

.product-item-windows {
  background: url("../img/product/icon-windows.png") no-repeat center;
  background-size: contain;
}

.product-content-wrapper {
  max-width: 395px;
  margin-right: auto;
  padding-top: 75px;
}

.product-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-wrapper {
  display: flex;
}

.product-text {
  margin: 0;
  margin-bottom: 18px;
}

/*----------------------- Product----------------------------------*/

/*----------------------- Features-------------------------------- */

.features-heading {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #010101;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.features-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 86px;
  max-width: 740px;
}

.features {
  background-color: #ffffff;
  padding: 115px 235px 77px 233px;
}

.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  position: relative;
  max-width: 277px;
  padding-left: 70px;
  margin-bottom: 84px;
}

.features-item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 55px;
  height: 45px;
  background-repeat: no-repeat;
}

.features-icon-1::before {
  background-image: url("../img/features/icon-1.png");
}

.features-icon-2::before {
  background-image: url("../img/features/icon-2.png");
}

.features-icon-3::before {
  background-image: url("../img/features/icon-3.png");
}

.features-icon-4::before {
  background-image: url("../img/features/icon-4.png");
}

.features-icon-5::before {
  background-image: url("../img/features/icon-5.png");
}

.features-icon-6::before {
  background-image: url("../img/features/icon-6.png");
}

.features-item-heading {
  margin: 0 0 11px 0;
}

.features-item-text {
  margin: 0;
}

.features-item:not(:nth-child(3n + 3)) {
  margin-right: 25px;
}

/*----------------------- Features-------------------------------- */

/*----------------------- Footer---------------------------------- */

.page-footer {
  background-color: #010101;
  padding: 92px 242px 138px 240px;
}

.footer-heading {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #fcdb00;
  margin: 0 auto;
  margin-bottom: 18px;
}

.footer-text {
  color: #898989;
  text-align: center;
  max-width: 738px;
  margin: 0 auto;
  margin-bottom: 37px;
}

.footer-contact {
  font-style: normal;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.footer-contact-email {
  color: #ffffff;
}

.footer-contact-phone {
  color: #ffffff;
}

.footer-link {
  color: #ffffff;
  line-height: 20px;
  font-weight: 400;
}

.footer-form {
  max-width: 738px;
  margin: 0 auto 79px;
}

.field-entry {
  height: 50px;
  border-radius: 5px;
  min-width: 580px;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  color: #898989;
  border-color: transparent;
}

.footer-button {
  display: inline-block;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  background-color: #fcdb00;
  border-color: transparent;
  cursor: pointer;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #ffffff;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0 0 0 312px;
  padding: 0;
  margin-bottom: 130px;
}

.social-link {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 5px;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:focus {
  transform: scale(1.2);
}

.social-link--facebook {
  background: url("../img/footer/facebook.png") no-repeat center;
}

.social-link--twitter {
  background: url("../img/footer/twitter.png") no-repeat center;
}

.social-link--google {
  background: url("../img/footer/google.png") no-repeat center;
}

.social-link--pinterest {
  background: url("../img/footer/pinterest.png") no-repeat center;
}

.social-list-wrapper {
  display: flex;
  flex-direction: column
}

.social-item:not(:last-child) {
  margin-right: 30px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list:not(:last-child) {
  margin-right: 92px;
}

.footer-list-wrapper {
  display: flex;
}

.footer-wrapper {
  display: flex;
}

.footer-contact-wrapper {
  margin-right: 118px;
}

.footer-link:hover,
.footer-link:focus {
  color: #fcdb00;
  transition: all 0.3s;
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: #fcdb00;
  transition: all 0.3s;
}

/*----------------------- Footer---------------------------------- */